//
   Created by KimHeeYeon on 2017. 11. 30..

doctype html
html
    head
        // Koream Import
        meta(charset='utf-8')
        title  AjouTimeTableMaker
        link(type='text/css', rel='stylesheet', href='stylesheets/maincss.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    body
        table.backgroundtable(cellspacing='0', cellpadding='0')
            tr.tableTR(style="height:10%")
                th#leftTopSide.backgroundtable-yw4l(onclick='on()')
                    div <b>MENU
                th#TableNameSide.backgroundtable-yw4l(onclick = 'clickTable()') <b>"TableName"
                th#UserName.backgroundtable-yw4l(onclick = 'clickTable()') <b>ID</b> #{id}

            td(colspan='3',onclick = 'clickTable()')
                table#dynamicTable(border='1', align='center')
                    thead
                        tr(style='height:100px')
                            th.tg-yw4l(style='color:#424a56;width:100px;border-width:medium;') <b><i>Time/Day
                            th.tg-yw4l(style= 'color:#424a56;font-size:20px; border-width:medium;') <b><i>Mon
                            th.tg-yw4l(style= 'color:#424a56;font-size:20px; border-width:medium;') <b><i>Tue
                            th.tg-yw4l(style= 'color:#424a56;font-size:20px; border-width:medium;') <b><i>Wen
                            th.tg-yw4l(style= 'color:#424a56;font-size:20px; border-width:medium;') <b><i>Thu
                            th.tg-yw4l(style= 'color:#424a56;font-size:20px; border-width:medium;') <b><i>Fri
                        tbody
                            tr
                input#row_num(type='number', name='row_num', size='10', maxlength='5', value='20', style="height:30px; width:200px")
                input(type='button', value='add', onclick='add()')

               // td.backgroundtable-yw4l(colspan='2', onclick = 'clickTable()', style="height:100%")

        #overlay
            #text
                .tab
                    button.tablinks(onclick='logout(event)') Logout
                    button#makeTable.tablinks(onclick="openCity(event, 'Make')") 시간표작성
                    button.tablinks(onclick="openCity(event, 'Popular')") 인기과목
        #overlay2
            #timetable
                .tab2
                    #Login.tabcontent
                        p Login
                    #Make.tabcontent
                        button#recommend.makeTable 추천
                        button#own.makeTable 스스로
                    #Popular.tabcontent
                        p Popular
        #loginPop
            #text2
                .tab2
                    #LoginSection
                        p Login
        script(type='text/javascript', src='javascripts/mainjs.js')
        script.
            makeTable()
