//
   Created by KimHeeYeon on 2017. 11. 30..

doctype html
html
    head
        // Koream Import
        meta(charset='utf-8')
        title  selectClass
        link(type='text/css', rel='stylesheet', href='stylesheets/selectClass.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    body
        div(style='background-color: #e3e8ef; min-height:100%;')
            table.tg
                tr
                    th.tg-kuzc Category
                tr
                    td.tg-yw4l
                        .categoryList 전공
                        .categoryList 교양
                        .categoryList 기초과목
                        .categoryList 영역별교양
            #buttonSection
                table.tg2
                    tr
                        th#cancel.tg2-655q cancel
                        th#confirm.tg2-o7eq confirm

