html, body{
    height:100%;
    width:100%;
    padding:0;
    margin:0;
}

.backgroundtable  {border-collapse:collapse;border-spacing:0;width : 100%; height: 100%}
.backgroundtable td{ font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.backgroundtable th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
<<<<<<< HEAD
.backgroundtable .backgroundtable-yw4l{vertical-align:top}
#leftTopSide { width: 10%; background-color: #555555}
#TableNameSide {width : 90%}
=======
.backgroundtable .backgroundtable-yw4l{vertical-align:middle}
#leftTopSide { width: 7%; background-color: #c0cce0;
    transition: 0.3s; border-width : 3px; border-color : #aaaaaa; color:#424a56;}
#leftTopSide:hover{
    background-color: #dadee5;
    color: #e2a183;

}
#TableNameSide {width : 85%; font-size: 40px; color:#424a56; background-color: #c0cce0;  border-color : #aaaaaa;border-width : 3px}
#UserName {width : 7%; background-color: #c0cce0; border-width : 3px;border-color : #aaaaaa; color:#424a56;}
#dynamicTable {
    width: 86.7%;
    height: 100%;
    background: url('http://postfiles12.naver.net/20160722_11/taem_iny_1469115284866TrbcR_PNG/%B6%F3%C0%CC%BE%F0_%B9%E8%B0%E6%C8%AD%B8%E9_08.png?type=w1') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
#dynamicTable thead tr{text-align:center; background-color: #eaebed;opacity: 0.75;}
#dynamicTable tbody tr{text-align:center;
    background-color:#f2f4f9;opacity: 0.75;}

.tableTR {
    vertical-align: middle;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width : 100%;
}


.tg-yw4l{vertical-align:center;}
>>>>>>> origin/HeeYeon

.button {
    background-color : inherit;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    outline: none;
    width: 100%; height: 100%
}
#onhoverbutton {width: 100%; height: 100%} /* Black */

#overlay {
    position: fixed;
    display: none;
    width: 15%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

#overlay2 {
    position: fixed;
    display: none;
    width: 15%;
    height: 10%;
    top: 0;
    left: 15%;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}


#loginPop {
    position: fixed;
    display: none;
    width: 35%;
    height: 20%;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

#text{
    position: absolute;
    font-size: 20px;
    color: white;
    width : 100%;
}

/* Style the tab */
div.tab {
    float: left;
    border: 1px solid #ccc;
<<<<<<< HEAD
    background-color: #f1f1f1;
=======
    background-color: #91a4b7;
>>>>>>> origin/HeeYeon
    width: 100%;
    height: 100px;
}

div.tab2 {
    float: left;
    border: 1px solid #ccc;
<<<<<<< HEAD
    background-color: #555555;
=======
    background-color: #ccc;
>>>>>>> origin/HeeYeon
    width: 100%;
    height: 100px;
}

/* Style the buttons inside the tab */
div.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
<<<<<<< HEAD
    border: none;
=======
    border-width: thin;
>>>>>>> origin/HeeYeon
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

div.tab2 button {
    display: block;
<<<<<<< HEAD
    background-color: #555555;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
=======
    background-color: #ccc;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border-width: thin;
>>>>>>> origin/HeeYeon
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
div.tab button.active {
    background-color: #ccc;
}

/* Change background color of buttons on hover */
div.tab2 button:hover {
<<<<<<< HEAD
    background-color: #ddd;
=======
    background-color: #555555;
>>>>>>> origin/HeeYeon
}

/* Create an active/current "tab button" class */
div.tab2 button.active {
<<<<<<< HEAD
    background-color: #ccc;
=======
    background-color: #ddd;
>>>>>>> origin/HeeYeon
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 0px;
<<<<<<< HEAD
    border: 1px solid #ccc;
=======
    border: 3px solid #ccc;
>>>>>>> origin/HeeYeon
    width: 100%;
    border-left: none;
    height: 100%;
    display: none;
}