html, body{
    height:100%;
    width:100%;
    padding:0;
    margin:0;
}
div{
    width: 100%;
}

.tg  {border-collapse:collapse;border-spacing:0;width:100%;height:90%;}
.tg td{font-family:Arial, sans-serif;font-size:20px;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:20px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;}
.tg .tg-kuzc{background-color:#494343;color:#f9f9f9;vertical-align:top; height : 10%; width : 100%;}
.tg .tg-yw4l{vertical-align:top; height : 80%; width : 100%}
.tg2  {border-collapse:collapse;border-spacing:0;width:100%;height:100%}
.categoryList{
    height:25%;
    width:100%;
    text-align: center;
    font-size: 17px;
    background-color: #e3e8ef;
    float:left;
}
.categoryList:hover{
    background-color : #aaaaaa;
}
#buttonSection{
    position: fixed;
    bottom: 0px;
    height: 5%;
    width:100%;
    font-size: 18px;
    text-align: center;
    vertical-align: center;
}
#cancel{background-color:#343434;color:#efefef;vertical-align:top; height : 100%; width:50%;}
#confirm{background-color:#680100;color:#efefef; height : 30px; width:100%;font-size: 14px;vertical-align: center;}
#checkboxform, #category_name{width: 100%; height: 100%;}


